#Ele serve para definir como o Git deve tratar os arquivos do seu projeto.

/mvnw text eol=lf
*.cmd text eol=crlf

# Ele ignora arquivos e pastas que não devem ser versionados, como arquivos de configuração local, dependências, arquivos de build, etc.